<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="CONSOLE_LOG" value="%d{yyyy-MM-dd HH:mm:ss}:%-4relative [%thread] %highlight(%5level) %magenta(%logger) - %msg%n" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate.SQL" level="DEBUG"/>
    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
