name: "[Prod] Build and Deploy"

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: Build and Push Docker Image
    environment: prod
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.set_image_tag.outputs.image_tag }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set Image Tag
        id: set_image_tag
        run: |
          IMAGE_TAG="${{ github.run_number }}-$(echo ${{ github.sha }} | cut -c1-7)"
          echo "IMAGE_TAG=${IMAGE_TAG}" >> $GITHUB_ENV
          echo "image_tag=${IMAGE_TAG}" >> $GITHUB_OUTPUT

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '21'

      - name: Build with Gradle (skip tests)
        run: ./gradlew :clog-api:build -x test

      - name: Build Docker Image
        run: |
          docker build -f clog-api/Dockerfile -t ${{ secrets.DOCKER_REGISTRY }}/${{ secrets.DOCKER_IMAGE }}:${IMAGE_TAG} .

      - name: Login to Docker Registry
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login ${{ secrets.DOCKER_REGISTRY }} -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Push Docker Image
        run: docker push ${{ secrets.DOCKER_REGISTRY }}/${{ secrets.DOCKER_IMAGE }}:${IMAGE_TAG}

  deploy:
    name: Deploy to Remote Server
    environment: prod
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy on Remote Server via SSH
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            sed -i "s/^TAG=.*/TAG=${{ needs.build.outputs.image_tag }}/" /home/ubuntu/.env
            docker compose -f /home/ubuntu/docker-compose.yml pull api
            docker compose -f /home/ubuntu/docker-compose.yml up -d api
